.flexItem {
  background-color: yellow;
  border: 2px solid black;
  color: red;
  width: 100px;
  height: 100px;
}

.flexContainer {
  height: 95vh;
  display: flex;
  /* justify-content: center; */
  /* justify-content: flex-end; */
  /* justify-content: space-between; */
  /* justify-content: space-evenly; */
  /* justify-content: space-around; */
  border: 1px solid red;
  /* align-items: center; */
  /* align-items: flex-end; */
  /* flex-direction: row-reverse; */
  /* flex-direction: column; */
  /* flex-direction: column-reverse; */
  /* justify-content: space-around;
  align-items: center; */
  /* flex-wrap: wrap; */
  /* flex-wrap: wrap-reverse; */
  /* align-content: flex-start; */
  /* align-content: center; */
}

.flexItem:nth-child(2) {
  order: 1;
  align-self: flex-end;
}
